In [39]:
import pandas as pd

In [40]:
df = pd.read_csv("../data/batters.csv")

In [41]:
df.drop(columns=["Unnamed: 0", "Unnamed: 8", "Unnamed: 9"], inplace=True)

In [42]:
df.dropna(subset=["BATTING", "B"], inplace=True)

In [43]:
df = df.loc[~df["BATTING"].str.startswith(("Did not bat", "Fall of wickets"))]

In [44]:
df.reset_index(drop=True, inplace=True)

In [46]:
df.rename(columns={"BATTING": "Batting",
                  "Unnamed: 1": "Dismissal",
                  "R": "Runs",
                  "B": "Balls",
                  "M": "Minutes",
                  "SR": "StrikeRate"}, inplace=True)

In [50]:
df["Out"] = df["Dismissal"] != "not out"

In [55]:
df["Batting"].str.contains("†", regex=False)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14    False
Name: Batting, dtype: bool

In [54]:
df["Batting"].str.contains("(c)", regex=False)

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13     True
14    False
Name: Batting, dtype: bool

In [61]:
df["Batting"] = df["Batting"].str.replace("(†|\(c\))","", regex=True).str.strip()

In [62]:
df

,Batting,Dismissal,Runs,Balls,Minutes,4s,6s,StrikeRate,Out
0,Yashasvi Jaiswal,c Sai Kishore b Yash Dayal,22,16,22,1,2,137.50,True
1,Jos Buttler,c †Saha b Pandya,39,35,64,5,0,111.42,True
2,Sanju Samson,c Sai Kishore b Pandya,14,11,21,2,0,127.27,True
3,Devdutt Padikkal,c Mohammed Shami b Rashid Khan,2,10,20,0,0,20.00,True
4,Shimron Hetmyer,c & b Pandya,11,12,20,2,0,91.66,True
5,Ravichandran Ashwin,c Miller b Sai Kishore,6,9,22,0,0,66.66,True
6,Riyan Parag,b Mohammed Shami,15,15,29,1,0,100.00,True
7,Trent Boult,c Tewatia b Sai Kishore,11,7,10,0,1,157.14,True
8,Obed McCoy,run out (Tewatia/Mohammed Shami),8,5,12,0,1,160.00,True
9,Prasidh Krishna,not out,0,0,2,0,0,-,False
10,Wriddhiman Saha,b Prasidh Krishna,5,7,8,1,0,71.42,True
11,Shubman Gill,not out,45,43,86,3,1,104.65,False
12,Matthew Wade,c Parag b Boult,8,10,16,0,1,80.00,True
13,Hardik Pandya,c Jaiswal b Chahal,34,30,42,3,1,113.33,True
14,David Miller,not out,32,19,23,3,1,168.42,False